<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User insert this</title>
</head>
<body>
    <h2>Welcme to new user</h2>
    <form method="post" action="/user/new">
        <input type="email" name="email" placeholder="enter email">
        <input type="username" name="username" placeholder="enter username">
        <input type="password" name="password" placeholder="enter password">
        <button>Submit now</button>
    </form>
</body>
</html>